body {
    margin: 0;
    font-size: 28px;
    font-family: Quicksand;
    background-color: #DEEEEA;
  
  }
  
  .header {
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
  }
  
  
  #navbar {
    overflow: hidden;
    background-color:white;
  }
  
  #navbar a {
    float: right;
    display: inline-block;
    color: #000000;
    text-align: center;
    padding: 18px 20px;
    text-decoration: none;
    font-size: 17px;
  }
  
  #navbar a:hover {
    background-color: #ddd;
    color: black;
  }
  
  #navbar a.active {
    background-color: #9fc9c7;
    color: white;
  }
  .code{
      text-align: center;
      font-size: 70px;
      padding-block-start: .5in;
  }

  .datatitle{
    font-family: Quicksand;
    font-size: 40px;
    text-align: center;
    padding-block-start: .5in;
  }

  .about{
    font-family: Quicksand;
    font-size: 20px;
    text-align: center;
    padding-block-start: .5in;
    padding-inline-start: .8in;
    padding-inline-end: .8in;     
  }

  .builtwith{
    font-family: Quicksand;
    font-size: 20px;
    text-align: center;
    padding-block-start: .5in;
    padding-inline-start: .8in;
    padding-inline-end: .8in;     
  }

  .process{
    font-family: Quicksand;
    font-size: 20px;
    text-align: center;
    padding-block-start: .5in;
    padding-inline-start: .8in;
    padding-inline-end: .8in;     
  }

  .conclusion{
    font-family: Quicksand;
    font-size: 20px;
    text-align: center;
    padding-block-start: .5in;
    padding-inline-start: .8in;
    padding-inline-end: .8in;     
  }

  .results{
    font-family: Quicksand;
    font-size: 20px;
    text-align: center;
    padding-block-start: .5in;
    padding-block-end: .5in;
    padding-inline-start: .8in;
    padding-inline-end: .8in;  
  }